<html>
<head>

</head>
<body>
<h3> Olympic Schedule </h3>
<ul>
  <li>
   <%= link_to "Sports" , :controller=>"event" ,:action=>"sports"%> 
  </li>
  <li>
    <%= link_to "Countries" , :controller=>"event" ,:action=>"country"%> 
  </li>
  <li>
    <%= link_to "Events" , :controller=>"event" ,:action=>"events"%> 
  </li>
</ul>
</body>
</html>